body {
  background-color: white;
}

.margin-nav-link {
  margin-left: auto;
  margin-right: 400px;
  font-size: medium;
}

.navbar-brand {
  margin-left: 450px;
}

.navbar-expand-lg {
  height: 93px;
  background-color: black;
}

header h2 {
  margin-top: 230px;
  padding-left: 50px;
  background-color: #55A2A6;
  width: 270px;
  font-weight: 600;
  color: white;
  font-size: 50px;
}

header h1 {
  margin-top: 7px;
  padding-left: 30px;
  background-color: #333333;
  width: 270px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
}

.sub-header {
  background-color: #55A2A6;
  height: 75px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.sub-header h4 {
  font-size: 23px;
  font-weight: lighter;
}

.main-content {
  text-align: left;
  margin-top: 50px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.main-content .card {
  border-width: 0px;
}

.main-content .card h5 {
  color: #222222;
}

.main-content .card p {
  color: #827D7E;
}

.main-content .card .bg-quotes {
  background-color: #55A2A6;
}

.main-content .card .bg-quotes-2 {
  background-color: #55A2A6;
}

.main-content .card .title {
  background-color: white;
  margin-left: 5px;
  padding-left: 10px;
  color: #827D7E;
  margin-bottom: 30px;
}

.main-content .card .title h4 {
  color: #222222;
}

.main-content .card .blockquote-2 {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 5px;
  background-color: #F9F9F9;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-top: 30px;
  color: #827D7E;
}

.main-content .card .blockquote-2 .quotes {
  color: #827D7E;
  font-weight: normal;
  text-align: right;
}

.main-content .card .blockquote-2 p {
  color: #827D7E;
  font-weight: bold;
}

.main-content .card .btn {
  margin-top: 10px;
  color: white;
  background-color: #55A2A6;
  border-width: 0px;
  border-radius: 0px;
}

.main-content .card .nav1 {
  width: 150px;
  border-bottom-style: solid;
  border-bottom-color: #55A2A6;
}

.main-content .card .nav-tabs {
  margin-top: 60px;
}

.main-content .card section {
  margin-top: 30px;
  color: #827D7E;
  margin-bottom: 30px;
}

.main-content .card a {
  color: #6F6F6F;
}

.main-content .col-sm-4 img {
  border-style: ridge;
  border-width: 1px;
  margin-bottom: -20px;
}

footer {
  height: 176px;
}

footer .footer-top {
  background-color: #151515;
}

footer .footer-top .card {
  border-width: 0px;
  background-color: #151515;
  text-align: left;
  font-weight: bolder;
  color: white;
}

footer .footer-content {
  background-color: #151515;
  height: 200px;
}

footer .footer-content .card {
  border-width: 0px;
  background-color: #151515;
}

footer .footer-content .card p {
  color: #989F9A;
  font-size: 16px;
  text-align: left;
  margin-top: -20px;
}

footer .footer-content .card img {
  margin-right: 6px;
  width: 40px;
  margin-top: -20px;
}

footer .footer-content .card .form-control {
  background-color: #333333;
  border-width: 0px;
  width: 270px;
  height: 50px;
  margin-top: -20px;
}

footer .footer-content .card ::-webkit-input-placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card :-ms-input-placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card ::-ms-input-placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card ::placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card button {
  background-color: #444444;
  color: #BEBEBE;
  font-weight: bold;
  height: 50px;
  width: 60px;
  margin-top: -20px;
}

footer .copywrite {
  margin-bottom: 1px;
  background-color: #111111;
  color: #33393C;
  padding-left: 120px;
  height: 40px;
  padding-top: 5px;
}
/*# sourceMappingURL=index2.css.map */