body {
  background-color: white;
}

.header {
  background-image: url("/img/2.jpg");
  width: 100%;
  height: 680px;
  background-size: cover;
}

.margin-nav-link {
  margin-left: auto;
  margin-right: 400px;
  font-size: medium;
}

.navbar-brand {
  margin-left: 450px;
}

.navbar-expand-lg {
  height: 93px;
  background-color: black;
}

header h2 {
  margin-top: 230px;
  padding-left: 50px;
  background-color: #55A2A6;
  width: 270px;
  font-weight: 600;
  color: white;
  font-size: 50px;
}

header h1 {
  margin-top: 7px;
  padding-left: 30px;
  background-color: #333333;
  width: 270px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
}

.sub-header {
  background-color: #55A2A6;
  height: 75px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  padding-top: 20px;
}

.menu-content {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.menu-content .card {
  border-width: 0;
}

.menu-content .card p {
  color: #868686;
  font-weight: bold;
}

.menu-content .card h5 {
  color: #4E4E4E;
  font-weight: bold;
}

.menu-content .card .pict-same img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.menu-content .card .profile img {
  width: 85px;
}

.menu-content .card .pict-photo img {
  width: 130px;
}

.divider {
  margin-top: 10px;
  text-align: center;
}

.divider h4 {
  font-size: 30px;
  background-color: white;
  font-weight: bold;
}

.main-content {
  text-align: left;
  margin-top: 50px;
}

.main-content .card {
  border-width: 0px;
}

.main-content .card h5 {
  color: #222222;
}

.main-content .card p {
  color: #827D7E;
}

.main-content .card .btn {
  margin-top: 10px;
  color: white;
  background-color: #55A2A6;
  border-width: 0px;
  border-radius: 0px;
}

.quotes {
  margin-bottom: 40px;
  border-bottom-color: #55A2A6;
}

.quotes .card {
  border-width: 0px;
}

.quotes .bg-quotes {
  background-color: #55A2A6;
}

.quotes blockquote {
  margin-top: 50px;
  background-color: white;
  margin-left: 10px;
  padding-left: 30px;
  color: #827D7E;
}

.quotes blockquote h5 {
  color: #55A2A6;
}

footer .footer-top {
  background-color: #151515;
}

footer .footer-top .card {
  border-width: 0px;
  background-color: #151515;
  text-align: left;
  font-weight: bolder;
  color: white;
}

footer .footer-content {
  background-color: #151515;
  height: 200px;
}

footer .footer-content .card {
  border-width: 0px;
  background-color: #151515;
}

footer .footer-content .card p {
  color: #989F9A;
  font-size: 16px;
  text-align: left;
  margin-top: -20px;
}

footer .footer-content .card img {
  margin-right: 6px;
  width: 40px;
  margin-top: -20px;
}

footer .footer-content .card .form-control {
  background-color: #333333;
  border-width: 0px;
  width: 270px;
  height: 50px;
  margin-top: -20px;
}

footer .footer-content .card ::-webkit-input-placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card :-ms-input-placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card ::-ms-input-placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card ::placeholder {
  color: #ACACA1;
  opacity: 1;
}

footer .footer-content .card button {
  background-color: #444444;
  color: #BEBEBE;
  font-weight: bold;
  height: 50px;
  width: 60px;
  margin-top: -20px;
}

footer .copywrite {
  margin-bottom: 1px;
  background-color: #111111;
  color: #33393C;
  padding-left: 120px;
  height: 40px;
  padding-top: 5px;
}
/*# sourceMappingURL=style.css.map */